<router-outlet></router-outlet>


<!-- <app-organization></app-organization>

<h2>Organization Chart</h2>
<highcharts-chart [Highcharts]="Highcharts" [options]="orgChartOptions">
</highcharts-chart>

<br/><br/><br/><br/><br/><br/>
<hr/>
<br/><br/><br/>
<h2>Plain Line Chart</h2>
<highcharts-chart [Highcharts]="Highcharts" [options]="lineChartOptions">
</highcharts-chart>


<p>Other example : 
    https://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/demo/organization-chart
</p> -->