<figure class="highcharts-figure">
    <highcharts-chart [Highcharts]="Highcharts" [options]="orgChartOptions2">
    </highcharts-chart>
    <p class="highcharts-description">
        Organization charts are a common case of hierarchical network charts,
        where the parent/child relationships between nodes are visualized.
        Highcharts includes a dedicated organization chart type that streamlines
        the process of creating these types of visualizations.
    </p>
</figure>


<p>References</p>
<p>
    1. https://www.highcharts.com/docs/chart-and-series-types/organization-chart

    2. https://www.highcharts.com/blog/tutorials/how-to-use-an-org-chart-more-effectively/

    3. https://www.highcharts.com/blog/chartchooser/organization-categorical-hierarchy/

    4. https://www.highcharts.com/demo/highcharts/organization-chart


    5. https://www.highcharts.com/forum/viewtopic.php?t=45196


    Setup  in angular :
    https://www.highcharts.com/blog/tutorials/highcharts-with-angular-v14/


    Search in Highcharts 
        https://www.highcharts.com/docs/getting-started/installation?search=angular%2015
</p>
